@use "../utils/" as u;

.btn {
  position: relative;
  height: u.rem(40);
  display: grid;
  place-content: center;

  &.primary {
    background-color: #007bff;
    color: white;
    &:hover {
      background-color: darken(#007bff, 10%);
    }
  }

  &.secondary {
    background-color: #6c757d;
    color: white;
    &:hover {
      background-color: darken(#6c757d, 10%);
    }
  }

  &.outline {
    background: none;
    border: 2px solid #007bff;
    color: #007bff;
    &:hover {
      background: #007bff;
      color: white;
    }
  }

  &.text {
    background: none;
    color: #007bff;
    &:hover {
      text-decoration: underline;
    }
  }
}
