@use "../utils/" as u;
@import "../global/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: u.rem(100);
  padding: 0px u.rem(30);

  &__logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    height: u.rem(40);

    &_group {
      width: u.rem(400);
      display: grid;
      grid-template-columns: 1fr u.rem(56);
    }
    &_input {
      position: relative;
      border: solid 1px $color-subtle;
      border-top-left-radius: u.rem(8);
      border-bottom-left-radius: u.rem(8);
    }
  }
  &__info_holder {
    position: relative;
    display: flex;
    gap: u.rem(10);
    align-items: center;
  }
}

.doc_link {
  font-family: "Roboto";
  font-weight: 400;
  text-decoration: underline;
  color: $color-primary;
}
