:root {
  --color-primary: rgba(33, 63, 125, 1);
  --color-secondary: rgba(57, 205, 204, 1);
  --color-text-primary: rgba(84, 95, 125, 1);
  --color-amber: rgba(233, 178, 0, 1);
  --color-subtle: rgba(84, 95, 125, 0.15);
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-text-primary: var(--color-text-primary);
$color-amber: var(--color-amber);
$color-subtle: var(--color-subtle);
