@use "../utils/" as u;
@import "../global/colors";

.authLayout {
  position: relative;
  &__nav {
    position: absolute;
    z-index: 500;
    background-color: #fff;
    padding: 5.5rem 0 0 6.0625rem;
    @include u.breakpoint(large) {
      padding: 3rem 0 0 3rem;
    }
    @include u.breakpoint(medium) {
      padding: 2rem 0 0 1rem;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.auth {
  display: grid;
  grid-template-columns: 51% 49%;
  height: 100vh;
  align-items: center;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  @include u.breakpoint(medium) {
    display: block;
  }

  &__illustration {
    display: grid;
    place-content: center;
    @include u.breakpoint(medium) {
      display: none;
    }
  }

  &__form {
    height: 100%;
    display: flex;
    box-shadow: 5px 0px 50px rgba(0, 0, 0, 0.03);

    @include u.breakpoint(medium) {
      box-shadow: none;
    }

    align-items: center;
    .form {
      padding: 0 1.25rem;
      width: 100%;
      max-width: u.rem(447);
      @include u.breakpoint(medium) {
        max-width: 100%;
      }
    }
    &_header {
      font-family: "Avenir Next";
      color: $color-primary;
      font-weight: 700;
      font-size: u.rem(40);
      font-style: normal;
    }

    &_subheader {
      font-family: "Avenir Next";
      font-weight: 400;
      font-size: u.rem(20);
      font-style: normal;
      color: $color-text-primary;
      margin: u.rem(20) 0 u.rem(60) 0;
    }

    &_inner {
      display: flex;
      flex-direction: column;
      width: 100%;

      .input_holder_holder {
        display: flex;
        flex-direction: column;
        gap: u.rem(24);
        width: 100%;

        .input_holder {
          height: fit-content;
          position: relative;
          display: flex;
          justify-content: center;
          // flex: 1;
          flex-direction: column;
          width: 100%;

          .form_input {
            height: u.rem(50);
            border: solid 2px $color-subtle;
            outline: none;
            width: 100%;
            border-radius: u.rem(5);
            -webkit-border-radius: u.rem(5);
            -moz-border-radius: u.rem(5);
            -ms-border-radius: u.rem(5);
            -o-border-radius: u.rem(5);
            padding: 0px 1rem;
          }

          .form_label {
            font-family: "Avenir Next";
            font-weight: 400;
            font-size: u.rem(14);
            font-style: normal;
            color: $color-text-primary;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            left: 1rem;
          }
        }
      }

      .forgot_link {
        position: relative;
        margin: u.rem(24) 0px u.rem(26);

        a {
          color: $color-secondary;
          font-family: "Avenir Next";
          font-weight: 600;
          font-size: u.rem(12);
          font-style: normal;
        }
      }

      .submit_btn {
        width: 100%;
        position: relative;
      }
    }
  }
}
