@use "../../utils/" as u;
@import "../../global/colors";
.dashboard {
  padding: u.rem(60);
  display: flex;
  flex-direction: column;
  gap: u.rem(40);

  &__head {
    display: flex;
    justify-content: space-between;
    &_title {
      font-weight: 500;
      font-family: "Work Sans";
      color: $color-primary;
      font-size: u.rem(24);
    }
  }
}
