@use "../../utils/" as u;
@import "../../global/colors";

.table-container {
  width: 100%;
  margin-top: u.rem(40);
  position: relative;
  padding: u.rem(10) u.rem(20);
  background: #fff;
  border-radius: 8px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border: solid 1px rgba(33, 63, 125, 0.06);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  tr {
    @include u.breakpoint(large) {
      .none-1 {
        display: none;
      }
    }
    @include u.breakpoint(medium) {
      .none-2 {
        display: none;
      }
    }
    @include u.breakpoint(small) {
      .none-3 {
        display: none;
      }
    }
  }
  th,
  td {
    padding: u.rem(15) 0px;
    text-align: left;
    white-space: nowrap;
  }

  td {
    font-family: "Work Sans";
    font-weight: 400;
    color: $color-text-primary;
    font-size: u.rem(14);

    .tag {
      padding: u.rem(10) u.rem(14);
      width: fit-content;
      display: grid;
      place-content: center;
      border-radius: u.rem(100);
      -webkit-border-radius: u.rem(100);
      -moz-border-radius: u.rem(100);
      -ms-border-radius: u.rem(100);
      -o-border-radius: u.rem(100);
    }

    .active {
      color: rgba(57, 205, 98, 1);
      background-color: rgba(57, 205, 98, 0.06);
    }
    .blacklisted {
      color: rgba(228, 3, 59, 1);
      background-color: rgba(228, 3, 59, 0.06);
    }
    .inactive {
      color: rgba(84, 95, 125, 1);
      background-color: rgba(84, 95, 125, 0.06);
    }
    .pending {
      color: rgba(233, 178, 0, 1);
      background-color: rgba(233, 178, 0, 0.06);
    }

    .options {
      width: u.rem(20);
      img {
        min-width: u.rem(20);
        min-height: u.rem(20);
      }
    }
  }

  .th-holder {
    font-family: "Work Sans";
    font-weight: 600;
    color: $color-text-primary;
    font-size: u.rem(12);
    text-transform: uppercase;
    align-items: center;
    position: relative;
    display: flex;

    button {
      position: relative;
      background: none;
      border: none;
      outline: none;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      margin-left: u.rem(5);

      img {
        align-self: center;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  tbody tr {
    border-bottom: solid 1px rgba(33, 63, 125, 0.1);

    &:nth-last-child(1) {
      border-bottom: none;
    }
  }

  tbody tr:hover {
    cursor: pointer;
    // opacity: 0.7;
  }
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: rgba(33, 63, 125, 0.1);
}

@include u.breakpoint(medium) {
  th,
  td {
    padding: 8px;
  }

  .user-table {
    font-size: 14px;
  }
}
