@use "../../utils/" as u;
@import "../../global/colors";

.main {
  padding: u.rem(60);

  @include u.breakpoint(xLarge) {
    padding: u.rem(20);
  }
  display: flex;
  flex-direction: column;
  // gap: u.rem(40);

  &__back {
    margin-bottom: u.rem(26);
    width: fit-content;

    &:hover {
      opacity: 0.6;
    }
    a {
      display: flex;
      gap: u.rem(13);
      align-items: center;
      font-family: "Work Sans";
      font-weight: 400;
      color: $color-text-primary;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: u.rem(40);
    &-title {
      font-weight: 500;
      font-family: "Work Sans";
      color: $color-primary;
      font-size: u.rem(24);
    }
    &-action {
      display: flex;
      align-items: center;
      gap: u.rem(20);
    }
  }
}
